body {background-image: url("https://i.ytimg.com/vi/FeyaSvvkZP4/maxresdefault.jpg");
     background-repeat: no-repeat;
     background-position-y: -500px; 
}

h1 {
	color: #fff;
}

h2 {
	text-align: center;
}


